/* Puedes agregar estilos globales a este archivo y también importar otros archivos de estilo */

.tab-panel {
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #ff8080; /* Tono rosado claro */
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #555555; /* Gris oscuro */
}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #b3b3b3; /* Gris claro */
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #ff5722; /* Tono naranja claro */
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #555555; /* Gris oscuro */
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #666666; /* Gris medio */
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: #ce8989; /* Blanco humo */
  border: 0;
  border-top: 1px solid #5d4646;
  padding: 15px 0;
}

.gallery {
  height: 550px;
}
